@model InernetVotingApplication.ViewModels.KandydatViewModel
@{
    ViewData["Title"] = "Głosowanie";
}
<center>
    <h2>Głosowanie</h2>
    <form asp-action="VotingAdd" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Numer kandydata</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Zaznacz kandydata</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var election in Model.ElectionCandidates)
                {
                    <tr>
                        <th scope="row">@election.Id</th>
                        <td>@election.Imie</td>
                        <td>@election.Nazwisko</td>
                        <td><input type="checkbox" name="candidate" value="@election.Id" onclick="MutExChkList(this);" /></td>
                        <input type="hidden" name="election" value="@ViewBag.ID" />
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Zagłosuj" class="btn btn-primary" />
        </div>
    </form>
</center>

<script type="text/javascript">
    function MutExChkList(chk) {
        var chkList = chk.parentNode.parentNode.parentNode;
        var chks = chkList.getElementsByTagName("input");
        for (var i = 0; i < chks.length; i++) {
            if (chks[i] != chk && chk.checked) {
                chks[i].checked = false;
            }
        }
    }
</script>