@model InernetVotingApplication.ViewModels.KandydatViewModel
@{
    ViewData["Title"] = "Głosowanie";
}
<center>
    <h2>Głosowanie</h2>
    <form asp-action="VotingAdd" method="post">
        <table border="1">
            <tr>
                <th>Numer kandydata</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Zaznacz kandydata</th>
                <th></th>
            </tr>
            @foreach (var election in Model.ElectionCandidates)
            {
        <tr>
            <td>@election.Id</td>
            <td>@election.Imie</td>
            <td>@election.Nazwisko</td>
            <td><input type="checkbox" name="candidate" value="@election.Id" onclick="MutExChkList(this);" /></td>
            <td><input type="hidden" name="election" value="@ViewBag.ID" /></td>
        </tr>
        }
        </table>
        <input type="submit" value="Zagłosuj" />
    </form>
</center>

<script type="text/javascript">
    function MutExChkList(chk) {
        var chkList = chk.parentNode.parentNode.parentNode;
        var chks = chkList.getElementsByTagName("input");
        for (var i = 0; i < chks.length; i++) {
            if (chks[i] != chk && chk.checked) {
                chks[i].checked = false;
            }
        }
    }
</script>